boto3
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
imageio
imageio-ffmpeg
lyricsgenius
moviepy
proglog
psycopg2-binary
pytube
requests
spotipy
sqlparse
syrics
youtube-search-python
